.MainPage > div, .FolderPage > div, .NotePage > div {
    display: flex;
    flex-direction: row;
}

.SideBar li, .SideBar div {
    border: 1px solid black;
    margin: 0px 10px;
}

.SideBar > li > h2 {
    cursor: pointer;
}

.SideBar a {
    text-decoration: none;
}

.SideBar > button {
    margin-left: 60px;
}


main > ul > li, main > div {
    border: 1px solid black;
}

main > div {
    width: 1000px;
    text-align: center;
    margin-left: 100px;
}

main > li > h3, button {
    cursor: pointer;
}

.add-note-button {
    margin-left: 100px;
    margin-bottom: 50px;
}

.selectedLink > li {
    background-color: lightgray;
}

li {
    list-style-type: none;
}

.add-folder-button {
    margin-left: 5em;
}